<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <form action='hello' method='post'>
        <input type='text' name='name'>
        <select name='language'>" +
        <option value='En'> English </option>
        <option value='Fr'> French </option>
        <option value='Sp'> Spanish </option>
        <option value='Ge'> German </option>
        <option value='Ch'> Chinese </option>
        </select>
        <input type='submit' value='Greet me!'>
    </form>
</body>
</html>